@page "/"

<PageTitle>Library Management System</PageTitle>

<h1>Library Management System</h1>

<ul class="list-group">
    <li class="list-group-item"><a href="books" class="btn btn-primary">Manage Books</a></li>
    <li class="list-group-item"><a href="users" class="btn btn-primary">Manage Users</a></li>
    <li class="list-group-item"><a href="borrow" class="btn btn-primary">Borrow Books</a></li>
    <li class="list-group-item"><a href="return" class="btn btn-primary">Return Book</a></li>
    <li class="list-group-item"><a href="list" class="btn btn-primary">List Borrowed Books</a></li>
</ul>
